{% extends "layout.njk" %}

    {% block head %}
        <title>Sobre - Bernadeath's site</title>
    {% endblock %}

{% block content %}

<div id="wrapper">
    <img src="../Bernardeath.jpg" alt="Pernardeath">
        <h1>Pernardo Paz Barbosa</h1>
        <h2>Menino de ouro - Challenger de ziggs</h2>
    <p>Best ultimates and tower destroyer of America Latina. Numbers dont lie, <a href="https://www.leagueofgraphs.com/pt/summoner/champions/ziggs/br/Bernardeth" target="_blank">Check it out</a> and subscribe to his <a href="https://www.youtube.com/watch?v=_6_07YbKhdg" target="_blank">channel</a>!</p>
</div>

<div id="links-footer" class="links">
    <a href="https://www.linkedin.com/in/lucas-carvalho-naz%C3%A1rio-154828181/" target="_blank">Linkedin</a>
    <a href="/">Github</a>
    <a href="/">Twitter</a>
</div>

{% endblock %}